<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quản lý bàn đặt</title>

	<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
	<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
	<link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
	<!-- Daterange picker -->
	<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
	<!-- summernote -->
	<link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<link rel="stylesheet" th:href="@{/css/adminCustom.css}">

	<style>
		body {
			position: relative;
		}

		.myAlert-top {
			position: absolute;
			z-index: 1222;
			right: 32px;
			top: 10px;
			display: none;
		}

		.modal-dialog {
			max-width: 600px;
		}

		img {
			width: 25%;
		}

		.table td {
			width: 1%;
		}
	</style>

	<script th:if="${editsucceess}">
		window
			.addEventListener(
				'DOMContentLoaded',
				function () {
					document.getElementById("myAlert-loggin-success").style.display = "block";
					setTimeout(
						function () {
							document
								.getElementById("myAlert-loggin-success").style.display = "none";
						}, 2000);
				});
	</script>



</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="myAlert-top alert alert-success" id="myAlert-loggin-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Cập nhật thành công!</strong>
	</div>

	<div class="wrapper">
		<div class="preloader flex-column justify-content-center align-items-center">
				<img class="animation__shake" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60"
					width="60">
		</div>
	</div>		
  <div th:replace="admin/headeradmin"></div>
		<!-- Main Sidebar Container -->
		<div th:replace="admin/sibarAdmin"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="reservation-box">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="heading-title text-center">
								<h2>Đặt bàn</h2>
								<p>Nhà hàng chúng tôi rất hân hạnh được phục vụ quý khách</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="contact-block">
							<form th:action="@{/admin/banDatTruoc/edit/updateThongTin}" method="POST">
								<div class="row">
									<div class="col-md-6">
										<h3>Thông tin đặt bàn</h3>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Số người:</label></strong> <input id="soluong"
													class="form-control" name="soNguoi" type="number"
													th:value="${banDatTruoc.soNguoi}" required
													data-error="Vui lòng nhập số người" placeholder="Số người" min="1">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Ngày đến:</label></strong> <input type="date"
													id="input_date" class="datepicker picker__input form-control"
													name="ngayDen" th:value="${banDatTruoc.ngayDen}" required
													data-error="Vui lòng chọn ngày đến" placeholder="Ngày đến">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Thời gian đến:</label></strong> <input type="time"
													id="input_time" class="time form-control picker__input"
													name="thoiGianDen" th:value="${banDatTruoc.thoiGianDen}"
													placeholder="Thời gian đến" required
													data-error="Vui lòng chọn ngày đến">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Ghi chú:</label></strong> <input id="input_ghichu"
													class="form-control" placeholder="Ghi chú" type="text" name="ghiChu"
													th:value="${banDatTruoc.ghiChu}">

											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h3>Thông tin liên hệ</h3>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Tên người liên hệ:</label></strong> <input type="text"
													class="form-control" name="tenKhachHang"
													th:value="${banDatTruoc.khachHang.tenKhachHang}"
													placeholder="Họ và tên" required
													data-error="Vui lòng nhập họ và tên" readonly="readonly">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Địa chị email:</label></strong> <input type="text"
													placeholder="Địa chỉ Email"
													th:value="${banDatTruoc.khachHang.email}" class="form-control"
													name="email" required data-error="Vui lòng nhập địa chỉ email"
													readonly="readonly">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Số điện thoại:</label></strong> <input type="text"
													placeholder="Số điện thoại" th:value="${banDatTruoc.khachHang.sdt}"
													class="form-control" name="phone" required
													data-error="Vui lòng nhập số điện thoại" readonly="readonly" />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<strong><label>Địa chỉ:</label></strong> <input type="text"
													placeholder="Địa chỉ" class="form-control"
													th:value="${banDatTruoc.khachHang.diaChi}" name="diaChi" required
													data-error="Vui lòng nhập địa chỉ" readonly="readonly" />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<div class="help-block with-errors"></div>

											</div>
										</div>
									</div>

								</div>
								<div class="col-md-12">
									<div class="submit-button text-center">

										<input type="hidden" name="id" th:value="${banDatTruoc.maDatTruoc}" /> <input
											class="btn btn-common" type="submit" value="Cập Nhật Thông Tin">
					
										<div class="clearfix"></div>
									</div>
								</div>
							</form>
							<div class="row">

								<form th:action="@{/admin/chinhSuaMonAn/AddRowMonAn}" method="POST" style="width:100%">
									<table id="myTable" class="table table-bordered table-striped">

										<thead>
											<tr>
												<th>Mã món ăn</th>
												<th>Loại</th>
												<th>Tên món ăn</th>
												<th>Đơn giá</th>
												<th>Số lượng</th>
												<th>Chỉnh sửa</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="monAn : ${listMonAn}">
												<td th:text="${monAn.maMonAn}"></td>
												<td th:text="${monAn.loaiMonAn.tenLoai}"></td>
												<td th:text="${monAn.tenMonAn}"></td>

												<td><span
														th:text="${#numbers.formatDecimal(monAn.DonGia, 0, 'COMMA', 0, 'POINT')}">1000000</span>
													VNĐ</td>
												<td><input type="number" name="soLuong" value="1"/></td>
												<td style="text-align: center;"><input type="hidden" name="id"
														th:value="${monAn.maMonAn}" /> <input type="hidden"
														name="donGia" th:value="${monAn.DonGia}" />
													<input type="hidden" name="tenMonAn" th:value="${monAn.tenMonAn}" />
													<a
														th:href="@{/admin/banDatTruoc/edit/add/{idDatTruoc}/{idMonAn}(idMonAn=${monAn.maMonAn},idDatTruoc=${banDatTruoc.maDatTruoc})}">Thêm
														Món</a>
												</td>

											</tr>
										</tbody>

										<tfoot>
										</tfoot>
									</table>

								</form>
							</div>
							<div class="row">
								<div id="chinh" style="width:100%">
									<table id="myTable2" class="table table-bordered table-striped" style="width:100%">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Tên món</th>
												<th scope="col">Số lượng</th>
												<th scope="col">Tổng tiền</th>
												<th scope="col">Tùy Chọn</th>
											</tr>
										</thead>
	
										<tbody>
											<tr th:each="datTruoc : ${listMonDatTruoc}">
												<form th:action="@{/admin/banDatTruoc/edit/remove}" method="POST">
													<td th:text="${datTruoc.stt}"></td>
													<td th:text="${datTruoc.tenMonAn}"></td>
	
													<td><input type="number" th:value="${datTruoc.soLuong}" name="soLuong"
															value="1" /></td>
													<td><span
															th:text="${#numbers.formatDecimal(datTruoc.tongTien, 0, 'COMMA', 0, 'POINT')}">1000000</span>
														VNĐ</td>
													<td style="text-align: center;"><input type="hidden" name="id"
															th:value="${datTruoc.id}" /> <input type="hidden"
															name="idDatTruoc" th:value="${banDatTruoc.maDatTruoc}" /> <input
															type="submit" value="Cập Nhật" name="action"><input
															type="submit" name="action" value="Xóa Bỏ"></td>
												</form>
											</tr>
										</tbody>
	
										<tfoot>
										</tfoot>
									</table>
								</div>
							</div>



							<div class="row">
								<div class="col-md-12">
									<div class="submit-button text-center" th:if="${tongTien}" style="positon:relative; top:20px;">
										<h2>
											Tổng tiền : <span
												th:text="${#numbers.formatDecimal(tongTien, 0, 'COMMA', 0, 'POINT')}">1000000</span>
											VNĐ
										</h2>
										 <input class="btn btn-common inforHoaDon" id="billDetail"
												type="button" value="THANH TOÁN" name="action" data-toggle="modal" th:data-maBanDatTruoc=${banDatTruoc.maDatTruoc} data-target="#inforModal" data-backdrop="static" data-keyboard="false">
										
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>
									<div class="submit-button text-center" th:unless="${tongTien}">
										<h2>Vui Lòng Chọn Món Ăn Bất Kỳ</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.content-wrapper -->

		<!-- Start Footer -->
		<footer class="footer-area bg-f" style="margin-left: 250px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-7">
						<h3>Về chúng tôi</h3>
						<p>Nhà hàng tiêu chuẩn 5* luôn hướng đến sự hành lòng của
							khách hàng. Sự ngon miệng và hài lòng của khách hàng là niềm tin
							vững chắc để chúng tôi tiếp tục phát triển không ngừng.</p>
					</div>
					<div class="col-lg-4 col-md-7">
						<h3>Thời gian hoạt động</h3>
						<!-- <p><span class="text-color">Thứ 2 - Thứ 6: </span>Closed</p> -->
						<p>
							<span class="text-color">Thứ 2 - Thứ 6 :</span> 9:00 - 22:00
						</p>
						<p>
							<span class="text-color">Thứ 7 - Chủ nhật :</span> 9:00 - 00:00
						</p>
					</div>
					<div class="col-lg-4 col-md-7">
						<h3>Thông tin liên hệ</h3>
						<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
							Chí Minh</p>
						<p class="lead">
							<a href="#">+01 2000 800 9999</a>
						</p>
						<p>
							<a href="#"> lienhechungtoi@admin.com</a>
						</p>
					</div>

				</div>
			</div>

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="company-name">
								Coppy right. &copy; 2021 <a href="#"></a> Thiết kế : <a href="#">iuh
									design</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</footer>
		
		
		<div class="modal fade" id="inforModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header border-bottom-0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-title text-center">
							<h4>THÔNG TIN HÓA ĐƠN</h4>
						</div>
						<div class="d-flex flex-column text-center">
							<div class="container">
								<div class="card">
									<div class="card-header">
										Ngày xuất hóa đơn <strong id="ngayXuatHoaDon">01/01/2021</strong> <span class="float-right">
											<strong>Trạng Thái:</strong> Đã
											thanh toán
										</span>
									</div>
									<div class="card-body">
										<div class="row mb-4">
											<div class="col-sm-6">
												<h6 class="mb-3">Thông tin nhà hàng:</h6>
												<div>
													<strong>Nhà Hàng</strong>
												</div>
												<div>23 Nguyễn Hữu Cảnh</div>
												<div>Gò Vấp, Tp Hồ Chí Minh</div>
												<div>Email: nhahang@gmail.com.vn</div>
												<div>Phone: +́84 444 666 3333</div>
											</div>
											<div class="col-sm-6" id="inforKhachHang">
												<h6 class="mb-3">Thông tin khách hàng:</h6>
												<div>
													<strong>Trần Minh Trúc</strong>
												</div>
												<div>Email: trminhtruc99@gmail.com</div>
												<div>Phone: +84 123 456 789</div>
												<div>12 Lê Lai, Quận 1</div>
											</div>
										</div>
										<div class="table-responsive-sm">
											<table class="table table-striped">
												<thead>
													<tr>
														<th class="center">#</th>
														<th>Tên món</th>
														<th class="right">Đơn giá</th>
														<th class="center">Số lượng</th>
														<th class="right">Tổng tiền</th>
													</tr>
												</thead>
												<tbody id="inforChiTietHoaDon">
													<tr>
														<td class="center">1</td>
														<td class="left strong">Cá Hấp</td>
														<td class="right">129.000 VNĐ</td>
														<td class="center">1</td>
														<td class="right">129.000 VNĐ</td>
													</tr>
													<tr>
														<td class="center">2</td>
														<td class="left">Lẩu Thái</td>
														<td class="right">200.000 VNĐ</td>
														<td class="center">2</td>
														<td class="right">400.000 VNĐ</td>
													</tr>
													<tr>
														<td class="center">3</td>
														<td class="left">Bia Tiger</td>
														<td class="right">20.000 VNĐ</td>
														<td class="center">5</td>
														<td class="right">100.000 VNĐ</td>
													</tr>

												</tbody>
											</table>
										</div>
										<div class="row">
											<div class="col-lg-5 col-sm-5"></div>
											<div class="col-lg-5 col-sm-5 ml-auto">
												<table class="table table-clear">
													<tbody>
														<tr id="tamTinh">
															<td class="left"><strong>Tạm tính</strong></td>
															<td class="right">629.000 VNĐ</td>
														</tr>
														<tr>
															<td class="left"><strong>Discount (%)</strong></td>
															<td class="right"> 0%</td>
														</tr>
														<tr id="vat" style="display:none;">
															<td class="left"><strong>VAT (10%)</strong></td>
															<td class="right">62.900 VNĐ</td>
														</tr>
														<tr id="tongTienAll">
															<td class="left"><strong>Tổng tiền</strong></td>
															<td class="right"><strong>691.900 VNĐ</strong></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div>
											<input class="btn btn-common" value="In Hóa Đơn">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<div class="signup-section">
							Chúc bạn một ngày tốt lành<a href="#a" class="text-info" data-toggle="modal"
								data-target="#signUpModal" onclick="anModalDangNhap()">...</a>.
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- End Footer -->
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

	<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
	<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<script th:src="@{/dist/js/adminlte.js}"></script>
	<script th:src="@{/dist/js/demo.js}"></script>
	<!-- ALL JS FILES -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/js/jquery.superslides.min.js}"></script>
	<script th:src="@{/js/images-loded.min.js}"></script>
	<script th:src="@{/js/form-validator.min.js}"></script>
	<script th:src="@{/js/contact-form-script.js}"></script>
	<script th:src="@{/js/custom.js}"></script>

	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

	<script>
		$(document).ready(function () {
			$("#inforModal").on("hidden.bs.modal", function(e){
				
			});
			
			$(document).on("click",".close",function(){
				window.location.href = "http://localhost:8080/admin/banDatTruoc";
			})
			
			$(document).on("click",".inforHoaDon",function(event){
				event.preventDefault();
				var maBanDatTruoc = event.target.getAttribute('data-maBanDatTruoc');
				$.ajax({
					type:"POST",
					contentType:"application/json;charset=utf-8",
					url:"http://localhost:8080/admin/getChiTietDatTruoc",
					data: JSON.stringify({
						'id':maBanDatTruoc
					}),
					success:function(result){
						var htmlInforKhachHang = '';
						var htmlInforChiTietHoaDon = '';
						
						htmlInforKhachHang +='<h6 class="mb-3">Thông tin khách hàng:</h6><div><strong>'+result.tenKhachHang+'</strong>'
						+'</div>'
						+'<div>Địa chỉ Email: '+result.diaChiEmail+'</div>'
						+'<div>Số điện thoại: '+result.sdt+'</div>'
						+'<div>Địa chỉ: '+result.diaChi+'</div>';
						
						
						var stt = 0;
						var doDai = result.chiTiet.length;
						var monAns = result.chiTiet;
						var tongTienTotal = 0;
						for(var i=0;i<doDai;i++){
							
							var tongTien = 0;
							
							tongTien =monAns[i].donGia*monAns[i].soLuong;
							stt++;
							tongTienTotal+=tongTien;
							var stringDonGia = monAns[i].donGia.toLocaleString(
									'it-IT',
									{
										style: 'currency',
										currency: 'VND'
									});
							htmlInforChiTietHoaDon += '<tr>'
							+'<td class="center">'+stt+'</td>'
							+'<td class="left strong">'+monAns[i].tenMonAn+'</td>'
							+'<td class="right">'+stringDonGia+'</td>'
							+'<td class="center">'+monAns[i].soLuong+'</td>'
							+'<td class="right">'+tongTien.toLocaleString(
									'it-IT',
									{
										style: 'currency',
										currency: 'VND'
									});+'</td>'
							+'</tr>';
							}
							
							
							
							var htmlTamTinh ='<td class="left"><strong>Tạm tính</strong></td>'
								+'<td class="right">'+tongTienTotal.toLocaleString(
										'it-IT',
										{
											style: 'currency',
											currency: 'VND'
										});+'</td>';
							
							$("#tamTinh").html(htmlTamTinh);
										
										
							var vat = tongTienTotal*0;
							var htmlVAT = '<td class="left"><strong>VAT (10%)</strong></td>'
										+'<td class="right">'+vat.toLocaleString(
												'it-IT',
												{
													style: 'currency',
													currency: 'VND'
												});+'</td>';
							$("#vat").html(htmlVAT);
												
												
							var tongTienall = vat+tongTienTotal;				
							var htmlTongTienAll	='<td class="left"><strong>Tổng tiền</strong></td>'
										+'<td class="right"><strong>'+tongTienall.toLocaleString(
												'it-IT',
												{
													style: 'currency',
													currency: 'VND'
												});+'</strong></td>';
									
							
							$("#tongTienAll").html(htmlTongTienAll);
							
							
							$("#inforChiTietHoaDon").html(htmlInforChiTietHoaDon);
							
							
							$("#inforKhachHang").html(htmlInforKhachHang);
							
							$("#ngayXuatHoaDon").html(result.ngayLapHoaDon);	
					}
				})
			});

			$(function () {
				$('[data-toggle="tooltip"]').tooltip();
			})
		});

		$(document)
			.ready(
				function () {
					$('#myTable')
						.DataTable(
							{
								"language": {
									"url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json"
								},
								"pageLength": 5
							});
					$('#myTable2')
						.DataTable(
							{
								"language": {
									"url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json"
								},
								"pageLength": 5
							});
					
				});
	</script>


	<style type="text/css">
		.dataTables_filter {
			float: right
		}
		.modal-dialog {
			max-width: 66%;
		}
	</style>
</body>

</html>