<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hóa đơn</title>

	<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
	<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">

	<link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
	<!-- Site CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
	<!-- Daterange picker -->
	<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
	<!-- summernote -->
	<link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<link rel="stylesheet" th:href="@{/css/adminCustom.css}">

	<style>
		.modal-dialog {
			max-width: 600px;
		}

		img {
			width: 25%;
		}

		.table td {
			width: 1%;
		}
	</style>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__shake" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60"
				width="60">
		</div>
	</div>
	<div th:replace="admin/headeradmin"></div>
	<!-- Main Sidebar Container -->
	<div th:replace="admin/sibarAdmin"></div>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Quản lý</h1>
					</div>
					<!-- /.col -->
				</div>
			</div>

			<!-- Main content -->
			<section class="content">
				<!-- /.container-fluid -->
				<div class="container-fluid">
					<div class="row">

						<div class="col-md-12">
							<div class="card card-info">
								<div class="card-header">
									<h3 class="card-title">Danh sách thông tin hóa đơn</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<div class="card-body">
									<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="dt-buttons btn-group flex-wrap"></div>
											</div>
											<div class="col-sm-12 col-md-6">
												<div id="example1_filter" class="dataTables_filter"></div>
											</div>
										</div>
										<table id="myTable" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>Mã hóa đơn</th>
													<th>Thời gian đến</th>
													<th>Thời gian lập hóa đơn</th>
													<th>Tình trạng</th>
													<th>Tên khách hàng</th>
													<th>Nhân viên</th>
													<th>Tùy Chỉnh</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="hoaDon : ${listHoaDon}">
													<td th:text="${hoaDon.maHoaDon}"></td>
													<td th:text="${hoaDon.ngayDen}"></td>
													<td th:text="${hoaDon.ngayLapHoaDon}"></td>
													<td th:text="${hoaDon.tinhTrang}"></td>
													<td th:text="${hoaDon.khachHang.tenKhachHang}"></td>
													<td th:text="${hoaDon.nhanVien.tenNhanVien}"></td>

													<td style="text-align: center;"><a href="#"><i
																class="fas fa-info-circle inforHoaDon"
																data-toggle="modal"
																th:data-maHoaDon="${hoaDon.maHoaDon}"
																data-target="#inforModal" id="billDetail"></i></a></td>
												</tr>

											</tbody>
											<tfoot>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- Start Footer -->
		<footer class="footer-area bg-f">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-7">
						<h3>Về chúng tôi</h3>
						<p>Nhà hàng tiêu chuẩn 5* luôn hướng đến sự hành lòng của
							khách hàng. Sự ngon miệng và hài lòng của khách hàng là niềm tin
							vững chắc để chúng tôi tiếp tục phát triển không ngừng.</p>
					</div>
					<div class="col-lg-4 col-md-7">
						<h3>Thời gian hoạt động</h3>
						<!-- <p><span class="text-color">Thứ 2 - Thứ 6: </span>Closed</p> -->
						<p>
							<span class="text-color">Thứ 2 - Thứ 6 :</span> 9:00 - 22:00
						</p>
						<p>
							<span class="text-color">Thứ 7 - Chủ nhật :</span> 9:00 - 00:00
						</p>
					</div>
					<div class="col-lg-4 col-md-7">
						<h3>Thông tin liên hệ</h3>
						<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
							Chí Minh</p>
						<p class="lead">
							<a href="#">+01 2000 800 9999</a>
						</p>
						<p>
							<a href="#"> lienhechungtoi@admin.com</a>
						</p>
					</div>

				</div>
			</div>

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="company-name">
								Coppy right. &copy; 2021 <a href="#"></a> Thiết kế : <a href="#">iuh
									design</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</footer>
		<!-- End Footer -->

		<div class="modal fade" id="inforModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header border-bottom-0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-title text-center">
							<h4>THÔNG TIN HÓA ĐƠN</h4>
						</div>
						<div class="d-flex flex-column text-center">
							<div class="container">
								<div class="card">
									<div class="card-header">
										Ngày xuất hóa đơn <strong id="ngayXuatHoaDon">01/01/2021</strong> <span class="float-right">
											<strong>Trạng Thái:</strong> Đã
											thanh toán
										</span>
									</div>
									<div class="card-body">
										<div class="row mb-4">
											<div class="col-sm-6">
												<h6 class="mb-3">Thông tin nhà hàng:</h6>
												<div>
													<strong>Nhà Hàng</strong>
												</div>
												<div>23 Nguyễn Hữu Cảnh</div>
												<div>Gò Vấp, Tp Hồ Chí Minh</div>
												<div>Email: nhahang@gmail.com.vn</div>
												<div>Phone: +́84 444 666 3333</div>
											</div>
											<div class="col-sm-6" id="inforKhachHang">
												<h6 class="mb-3">Thông tin khách hàng:</h6>
												<div>
													<strong>Trần Minh Trúc</strong>
												</div>
												<div>Email: trminhtruc99@gmail.com</div>
												<div>Phone: +84 123 456 789</div>
												<div>12 Lê Lai, Quận 1</div>
											</div>
										</div>
										<div class="table-responsive-sm">
											<table class="table table-striped">
												<thead>
													<tr>
														<th class="center">#</th>
														<th>Tên món</th>
														<th class="right">Đơn giá</th>
														<th class="center">Số lượng</th>
														<th class="right">Tổng tiền</th>
													</tr>
												</thead>
												<tbody id="inforChiTietHoaDon">
													<tr>
														<td class="center">1</td>
														<td class="left strong">Cá Hấp</td>
														<td class="right">129.000 VNĐ</td>
														<td class="center">1</td>
														<td class="right">129.000 VNĐ</td>
													</tr>
													<tr>
														<td class="center">2</td>
														<td class="left">Lẩu Thái</td>
														<td class="right">200.000 VNĐ</td>
														<td class="center">2</td>
														<td class="right">400.000 VNĐ</td>
													</tr>
													<tr>
														<td class="center">3</td>
														<td class="left">Bia Tiger</td>
														<td class="right">20.000 VNĐ</td>
														<td class="center">5</td>
														<td class="right">100.000 VNĐ</td>
													</tr>

												</tbody>
											</table>
										</div>
										<div class="row">
											<div class="col-lg-5 col-sm-5"></div>
											<div class="col-lg-5 col-sm-5 ml-auto">
												<table class="table table-clear">
													<tbody>
														<tr id="tamTinh">
															<td class="left"><strong>Tạm tính</strong></td>
															<td class="right">629.000 VNĐ</td>
														</tr>
														<tr>
															<td class="left"><strong>Discount (%)</strong></td>
															<td class="right"> 0%</td>
														</tr>
														<tr id="vat" style="display:none;">
															<td class="left"><strong>VAT (10%)</strong></td>
															<td class="right">62.900 VNĐ</td>
														</tr>
														<tr id="tongTienAll">
															<td class="left"><strong>Tổng tiền</strong></td>
															<td class="right"><strong>691.900 VNĐ</strong></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<div class="signup-section">
							Chúc bạn một ngày tốt lành<a href="#a" class="text-info" data-toggle="modal"
								data-target="#signUpModal" onclick="anModalDangNhap()">...</a>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
	<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
	<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<script th:src="@{/dist/js/adminlte.js}"></script>
	<script th:src="@{/dist/js/demo.js}"></script>
	<!-- ALL JS FILES -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/js/jquery.superslides.min.js}"></script>
	<script th:src="@{/js/images-loded.min.js}"></script>
	<script th:src="@{/js/form-validator.min.js}"></script>
	<script th:src="@{/js/contact-form-script.js}"></script>
	<script th:src="@{/js/custom.js}"></script>

	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

	<script>
		$(document)
			.ready(
				function () {
					$('#myTable')
						.DataTable(
							{
								"language": {
									"url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json"
								}
							});

					$("#buildDetail").click(function () {
						$('#inforModal').modal();
					})
				});
	</script>

	<style type="text/css">
		.dataTables_filter {
			float: right
		}

		.modal-dialog {
			max-width: 66%;
		}
	</style>
</body>
<script>
	$(document)
		.ready(
			function () {
				$(document)
					.on(
						"click",
						".inforHoaDon",
						function (event) {

							event.preventDefault();
							
							var maMonAn = event.target
								.getAttribute('data-maHoaDon');

							
							$
								.ajax({
									type: "POST",
									contentType: "application/json; charset=utf-8",
									url: "http://localhost:8080/admin/getHoaDon",
									data: JSON.stringify({
										'id': maMonAn
									}),

									success: function (
										result) {
										
										var htmlInforKhachHang = '';
										var htmlInforChiTietHoaDon = '';
										
										htmlInforKhachHang +='<h6 class="mb-3">Thông tin khách hàng:</h6><div><strong>'+result.tenKhachHang+'</strong>'
										+'</div>'
										+'<div>Địa chỉ Email: '+result.diaChiEmail+'</div>'
										+'<div>Số điện thoại: '+result.sdt+'</div>'
										+'<div>Địa chỉ: '+result.diaChi+'</div>';
										
										
										var stt = 0;
										var doDai = result.chiTiet.length;
										var monAns = result.chiTiet;
										var tongTienTotal = 0;
										for(var i=0;i<doDai;i++){
											
											var tongTien = 0;
											
											tongTien =monAns[i].donGia*monAns[i].soLuong;
											stt++;
											tongTienTotal+=tongTien;
											var stringDonGia = monAns[i].donGia.toLocaleString(
													'it-IT',
													{
														style: 'currency',
														currency: 'VND'
													});
											htmlInforChiTietHoaDon += '<tr>'
											+'<td class="center">'+stt+'</td>'
											+'<td class="left strong">'+monAns[i].tenMonAn+'</td>'
											+'<td class="right">'+stringDonGia+'</td>'
											+'<td class="center">'+monAns[i].soLuong+'</td>'
											+'<td class="right">'+tongTien.toLocaleString(
													'it-IT',
													{
														style: 'currency',
														currency: 'VND'
													});+'</td>'
										+'</tr>';
										}
										
										
										
										var htmlTamTinh ='<td class="left"><strong>Tạm tính</strong></td>'
											+'<td class="right">'+tongTienTotal.toLocaleString(
													'it-IT',
													{
														style: 'currency',
														currency: 'VND'
													});+'</td>';
										
										$("#tamTinh").html(htmlTamTinh);
													
													
										var vat = tongTienTotal*0;
										var htmlVAT = '<td class="left"><strong>VAT (10%)</strong></td>'
													+'<td class="right">'+vat.toLocaleString(
															'it-IT',
															{
																style: 'currency',
																currency: 'VND'
															});+'</td>';
										$("#vat").html(htmlVAT);
															
															
										var tongTienall = vat+tongTienTotal;				
										var htmlTongTienAll	='<td class="left"><strong>Tổng tiền</strong></td>'
													+'<td class="right"><strong>'+tongTienall.toLocaleString(
															'it-IT',
															{
																style: 'currency',
																currency: 'VND'
															});+'</strong></td>';
												
										
										$("#tongTienAll").html(htmlTongTienAll);
										
										
										$("#inforChiTietHoaDon").html(htmlInforChiTietHoaDon);
										
										$("#inforKhachHang").html(htmlInforKhachHang);
										
										$("#ngayXuatHoaDon").html(result.ngayLapHoaDon);
									}
								});
						});
			});
</script>

</html>