<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!-- Basic -->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Đặt bàn</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" th:href="@{/images/favicon.ico}"
	type="image/x-icon">
<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- Site CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Pickadate CSS -->
<link rel="stylesheet" th:href="@{/css/classic.css}">
<link rel="stylesheet" th:href="@{/css/classic.date.css}">
<link rel="stylesheet" th:href="@{/css/classic.time.css}">
<!-- Responsive CSS -->
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.css}">



<style>
.spanBold {
	font-weight: bold;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
	<!-- Start header -->
	<div th:replace="header"></div>
	<!-- End header -->

	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Đặt bàn trước</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	<div class="reservation-box">
		<div class="container">
			<div class="row special-list">
				<div class="col-lg-4 col-md-6 special-grid drinks"
					th:each="monAn : ${listMonAn}">
					<form th:action="@{/client/addMonAn}" method="POST">
						<div class="gallery-single fix">
							<img th:src="@{${monAn.hinhAnh}}" class="img-fluid" alt="Image">
							<div class="why-text">
								<p th:text="${monAn.moTa}"></p>
								<!-- <h5 th:text="${monAn.DonGia}+' VNĐ'"></h5> -->
								<!-- <div class="d-flex justify-content-around">
									<input type="hidden" value="${monAn.tenMonAn}" name="tenMonAn">
									<input type="hidden" value="${monAn.maMonAn}" name="maMonAn">
									<input type="hidden" th:value="${monAn.DonGia}" name="donGia">
									<input type="number" class="p-2 bd-highlight"
										style="width: 20%" value="1" name="soLuong"> 
									<input type="button" class="p-2 bd-highlight btn btn-primary addRow" 
										style="background-color: #ffc107;" th:data-idMonAn="${monAn.maMonAn}" th:data-donGia="${monAn.DonGia}" th:data-tenMon="${monAn.tenMonAn}" value="Thêm Món">
								</div> -->
							</div>
						</div>
						<div class="food-detail" style="text-align: center;font-size: 24px;/* position: absolute; */">
							<h4 style="font-size: 24px;" th:text="${monAn.tenMonAn}"></h4>
							<h5 style="font-size: 24px;" th:text="${monAn.DonGia}+' VNĐ'"></h5>
							<input type="hidden" value="${monAn.tenMonAn}" name="tenMonAn">
							<input type="hidden" value="${monAn.maMonAn}" name="maMonAn">
							<input type="hidden" th:value="${monAn.DonGia}" name="donGia">
							<input type="number" class="food-quanlity" value="1" name="soLuong" min = "1" max = "100"> 
							<input type="button" class="p-2 bd-highlight btn btn-add addRow" th:data-idMonAn="${monAn.maMonAn}" th:data-donGia="${monAn.DonGia}" th:data-tenMon="${monAn.tenMonAn}" value="Thêm Món">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Thông Tin Đặt Bàn</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>Thông tin khách hàng</h4>
				<ul class="list-group">
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Tên khách hàng <span class="spanBold"
						th:text="${banDatTruoc.tenKhachHang}"></span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Địa chỉ email <span class="spanBold"
						th:text="${banDatTruoc.email}"></span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Số điện thoại <span class="spanBold"
						th:text="${banDatTruoc.phone}"></span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Địa chỉ <span class="spanBold" th:text="${banDatTruoc.diaChi}"></span>
					</li>
				</ul>
				<br>
				<h4>Thông tin bàn đặt</h4>
				<ul class="list-group">
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Số người <span class="spanBold" th:text="${banDatTruoc.soNguoi}"></span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Ngày Đến <span class="spanBold" th:text="${banDatTruoc.ngayDen}"></span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Thời gian đến <span class="spanBold"
						th:text="${banDatTruoc.thoiGianDen}"></span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between align-items-center">
						Ghi Chú <span class="spanBold" th:text="${banDatTruoc.ghiChu}"></span>
					</li>
				</ul>
				<br>
				<h2 id="tongTien" style="text-align: right;">Tổng tiền : 0 VNĐ</h2>
			</div>

			<div class="col-lg-8">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Tên món</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Tổng tiền</th>
							<th scope="col">Tùy Chọn</th>
						</tr>
					</thead>
					<tbody id="addItem">
					</tbody>
				</table>
			</div>

		</div>
	</div>
	
		<div class="container">
			<div class="row">
				
				<div class="submit-button text-center">
					<form th:action="@{/client/completedDatBan}" method="post">
						<input class="btn btn-common" id="submit" type="submit"
							value="Đặt Bàn" >
					</form>
					<div id="msgSubmit" class="h3 text-center hidden"></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	
	<!-- Start Reservation -->

	<!-- End Reservation -->

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Điện thoại</h4>
						<p class="lead">+01 123-456-4590</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">lienhechungtoi@gmail.com</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Địa chỉ</h4>
						<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
							Chí Minh</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-7">
					<h3>Về chúng tôi</h3>
					<p>Nhà hàng tiêu chuẩn 5* luôn hướng đến sự hành lòng của khách
						hàng. Sự ngon miệng và hài lòng của khách hàng là niềm tin vững
						chắc để chúng tôi tiếp tục phát triển không ngừng.</p>
				</div>
				<div class="col-lg-4 col-md-7">
					<h3>Thời gian hoạt động</h3>
					<!-- <p><span class="text-color">Thứ 2 - Thứ 6: </span>Closed</p> -->
					<p>
						<span class="text-color">Thứ 2 - Thứ 6 :</span> 9:00 - 22:00
					</p>
					<p>
						<span class="text-color">Thứ 7 - Chủ nhật :</span> 9:00 - 00:00
					</p>
					<!-- <p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p> -->
				</div>
				<div class="col-lg-4 col-md-7">
					<h3>Thông tin liên hệ</h3>
					<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
						Chí Minh</p>
					<p class="lead">
						<a href="#">+01 2000 800 9999</a>
					</p>
					<p>
						<a href="#"> lienhechungtoi@admin.com</a>
					</p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">
							Coppy right. &copy; 2021 <a href="#"></a> Thiết kế : <a
								href="https://html.design/">iuh design</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/js/jquery.superslides.min.js}"></script>
	<script th:src="@{/js/images-loded.min.js}"></script>
	<script th:src="@{/js/isotope.min.js}"></script>
	<script th:src="@{/js/baguetteBox.min.js}"></script>
	<script th:src="@{/js/picker.js}"></script>
	<script th:src="@{/js/picker.date.js}"></script>
	<script th:src="@{/js/picker.time.js}"></script>
	<script th:src="@{/js/legacy.js}"></script>
	<script th:src="@{/js/form-validator.min.js}"></script>
	<script th:src="@{/js/contact-form-script.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script>
	$(document).ready(function(){
		$(".addRow").click(function(event){
			
			event.preventDefault();
			
			var soLuong = $(this).prev().val();
			var maMonAn = event.target.getAttribute('data-idmonan');
			var tenMon = event.target.getAttribute('data-tenMon');
			var donGia = event.target.getAttribute('data-donGia');
			
			$.ajax({
				type:"POST",
				contentType: "application/json; charset=utf-8",
				url:"http://localhost:8080/client/addRowMonAn",
				data:JSON.stringify({'id':maMonAn, 'soLuong':soLuong, 'tenMonAn': tenMon, 'donGia': donGia}),
				
				success:function(result){
					
					var len =  result.length;
					var html = '';
					
					var totalMoney = 0;
					
					for(var i=0;i<len;i++){
						var tongTien = result[i].soLuong*result[i].donGia;
						html+= '<tr><th scope="row">'+(i+1)+'</th>'
						+'<td >'+result[i].tenMonAn+'</td>'
						+'<td >'+result[i].soLuong+'</td>'
						+'<td >'+tongTien+'</td>'
						+'<td><a href="" class="removeFood" data-idMonAn="'+result[i].id+'">Xóa Bỏ</a></td></tr>';
						totalMoney = totalMoney + tongTien;
					}
					$("#addItem").html(html);
					
					totalMoney = totalMoney.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
					var htmlTongTien = '<h2>Tổng tiền : '+totalMoney+'</h2>'
					$("#tongTien").html(htmlTongTien);
					
				}
			});
		});
		
		$(document).on("click",".removeFood",function(event){
			
			
			event.preventDefault();
			
			var maMonAn = event.target.getAttribute('data-idMonAn');
			
			$.ajax({
				type:"POST",
				contentType: "application/json; charset=utf-8",
				url:"http://localhost:8080/client/removeRowMonAn",
				data:JSON.stringify({'id':maMonAn}),
				
				success:function(result){
					
					var len =  result.length;
					var html = '';
					
					var totalMoney = 0;
					
					for(var i=0;i<len;i++){
						var tongTien = result[i].soLuong*result[i].donGia;
						html+= '<tr><th scope="row">'+(i+1)+'</th>'
						+'<td >'+result[i].tenMonAn+'</td>'
						+'<td >'+result[i].soLuong+'</td>'
						+'<td >'+tongTien+'</td>'
						+'<td><a href="" class="removeFood" data-idMonAn="'+result[i].id+'">Xóa Bỏ</a></td></tr>';
						totalMoney = totalMoney + tongTien;
					}
					$("#addItem").html(html);
					
					totalMoney = totalMoney.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
					var htmlTongTien = '<h2>Tổng tiền : '+totalMoney+'</h2>'
					$("#tongTien").html(htmlTongTien);
				}
			});
		});
	});
	
</script>
</body>

</html>