<header class="top-navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}"> <!-- <img src="@{/images/logo.png" alt="" /> -->
				<h2>LOGO</h2>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbars-rs-food" aria-controls="navbars-rs-food"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<form class="form-inline my-2 my-lg-0 form-search">
				<input class="form-control mr-sm-2 input-search" type="search"
					placeholder="Tìm kiếm" aria-label="Search" style="width: 100%;">
			</form>
			<div class="collapse navbar-collapse" id="navbars-rs-food">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/}">Trang chủ</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/}">Món
							Ăn</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						onClick="datBan()" th:data-session="${session.idAccount}" id="datBan">Đặt bàn</a></li>
					<li class="nav-item" th:if="${session.idAdmin}"><a class="nav-link">Quản lý</a></li>
					<li class="nav-item" id="login" th:unless="${session.idAccount}"><a class="nav-link" href="#"
						style="margin-left: 5px; margin-right: -10px;" data-toggle="modal"
						data-target="#loginModal">Đăng Nhập</a></li>
					<li class="nav-item" th:if="${session.idAccount}"><a class="nav-link" th:href="@{/client/dangXuat}"
						style="margin-left: 5px; margin-right: -10px;"
						>Đăng xuất</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
</header>

