<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!-- Basic -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Metas -->
	<title>Trang chủ</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
	<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- Site CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<style type="text/css">
		.alert {
			position: fixed;
			height: fit-content;
			z-index: 999;
			width: 100%;
			display: none;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		});

		function anModalDangNhap() {
			$('#loginModal').modal('hide');
		};
		function anModalDangKy() {
			$('#signUpModal').modal('hide');
		};

		function datBan() {
			var order = document.getElementById("datBan");
			var datBan = order.getAttribute("data-session");

			if (datBan == null) {
				document.getElementById("myAlert").style.display = "block";
				setTimeout(function () {
					document.getElementById("myAlert").style.display = "none";
				}, 2000);
			}
			else {
				window.location.href = "/client/datBan";
			}
		}
	</script>
	<script th:if="${message}">
		window.addEventListener('DOMContentLoaded', function () {
			//document.getElementById("myAlert-loggin-success").style.display = "block";
			/* setTimeout(function(){
				document.getElementById("myAlert-loggin-success").style.display = "none";
			}, 2000);fad  */
			$("#myAlert-loggin-success").css({ "display": "block" });
			setTimeout(function () {
				$("#myAlert-loggin-success").fadeOut(1000);
			}, 2000);
		});
	</script>

	<script th:if="${faild}">
		$(document).ready(function () {
			$("#loginModal").modal();
		});
		window.addEventListener('DOMContentLoaded', function () {
			/* document.getElementById("myAlert-loggin-fail").style.display = "block";
			console.log("enfsdnfsd");
			setTimeout(function(){
				document.getElementById("myAlert-loggin-fail").style.display = "none";
			}, 2000); */
			$("#notifyToast").css({ "display": "block" });
			$("#myAlert-loggin-fail").css({ "display": "block" });
			setTimeout(function () {
				$("#myAlert-loggin-fail").fadeOut(1000);
			}, 1500);
		});
	</script>

	<script th:if="${registerSuccess}">
		window.addEventListener('DOMContentLoaded', function () {
			$("#myAlert-register-success").css({ "display": "block" });
			setTimeout(function () {
				$("#myAlert-register-success").fadeOut(1000);
			}, 1500);
		});
	</script>

	<script th:if="${completedDatBan}">
		window.addEventListener('DOMContentLoaded', function () {
			document.getElementById("myAlert-datBan-Completed").style.display = "block";
			setTimeout(function () {
				document.getElementById("myAlert-datBan-Completed").style.display = "none";
			}, 2000);
		});
	</script>

	<script th:if="${datThanhCong}">
		window.addEventListener('DOMContentLoaded', function () {
			document.getElementById("myAlert-datBan-Completed").style.display = "block";
			setTimeout(function () {
				document.getElementById("myAlert-datBan-Completed").style.display = "none";
			}, 2000);
		});
	</script>
</head>

<body>

	<div class="myAlert-top alert alert-warning" id="myAlert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Bạn chưa đăng nhập!</strong> Vui lòng đăng nhập tài khoản để thực hiện đặt bàn.
	</div>

	<div class="myAlert-top alert alert-success" id="myAlert-datBan-Completed">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Đặt Bàn Thành Công !</strong>
	</div>

	<div class="myAlert-top alert alert-success" id="myAlert-loggin-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Đăng Nhập Thành Công!</strong>
	</div>

	<div class="myAlert-top alert alert-warning" id="myAlert-loggin-fail">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Đăng nhập không thành công! Tên đăng nhập hoặc mật khẩu không chính xác</strong>
	</div>

	<div class="myAlert-top alert alert-success" id="myAlert-register-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Đăng ký thành công!</strong>
	</div>

	<!-- Start header -->
	<div th:replace="header"></div>
	<!-- End header -->

	<!-- Start slides -->
	<div th:replace="slides"></div>
	<!-- End slides -->

	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img th:src="@{/images/about-img.jpg}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>
							Chào mừng Quý khách <span>Đến với nhà hàng chúng tôi</span>
						</h1>
						<h4>Kỷ niệm nhỏ</h4>
						<p>Trong một buổi chiều cuối tuần buồn bã, trong lúc bạn cảm
							thấy cô đơn và lạnh lẽo và trong đầu bạn hiện lên những món ăn
							ngon để lấp đầy cái bụng đang cồn cào. Nhưng bạn không có nguyên
							liệu để chế biến. Hãy đến với nhà hàng của chúng tôi với quan
							điểm luôn đáp ứng theo khẩu vị khách hàng bạn sẽ có được bữa ngon
							hòa vị.</p>
						<p>Hãy để chúng tôi phục vụ khách</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="reservation.html">Đặt bàn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">" Nếu như bạn cảm thấy mệt mỏi và muốn giải
						tỏa bằng những món ăn ngon. Hãy để chúng tôi phục vụ bạn "</p>
					<span class="lead">Briant Tran</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->

	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Món ăn</h2>
						<p>Nhà hàng chúng tôi rất hân hạnh phục vụ quý khách</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="special-menu text-center">
						<div class="button-group filter-button-group">
							<button class="active" data-filter="*">Tất cả</button>
							<button data-filter=".drinks"
								th:each="loaiMonAn: ${listLoaiMonAn}"
								th:text="${loaiMonAn.tenLoai}">
							</button>

						</div>
					</div>
				</div>
			</div>

			<div class="row special-list">
				<div class="col-lg-4 col-md-6 special-grid drinks" th:each="monAn: ${listMonAn}">
					<div class="gallery-single fix">
						<img th:src="@{${monAn.hinhAnh}}" class="img-fluid" alt="Image">
						<div class="why-text">
							<!-- <h4 th:text="${monAn.tenMonAn}"></h4> -->
							<p th:text="${monAn.moTa}"></p>
							<!-- <h5 th:text="${monAn.DonGia}+' VNĐ'"></h5> -->
						</div>
					</div>
					<div class="food-detail" style="text-align: center;font-size: 24px;/* position: absolute; */">
						<h4 style="font-size: 24px;" th:text="${monAn.tenMonAn}"></h4>
						<h5 style="font-size: 24px;" th:text="${#numbers.formatDecimal(monAn.DonGia, 0, 'COMMA', 0, 'POINT')}"></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Menu -->

	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Hình Ảnh</h2>
						<p>Hình ảnh về chúng tôi</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-01.jpg}"> <img class="img-fluid"
								th:src="@{/images/gallery-img-01.jpg}" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-02.jpg}"> <img class="img-fluid"
								th:src="@{/images/gallery-img-02.jpg}" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-03.jpg}"> <img class="img-fluid"
								th:src="@{/images/gallery-img-03.jpg}" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-04.jpg}"> <img class="img-fluid"
								th:src="@{/images/gallery-img-04.jpg}" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-05.jpg}"> <img class="img-fluid"
								th:src="@{/images/gallery-img-05.jpg}" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-06.jpg}"> <img class="img-fluid"
								th:src="@{/images/gallery-img-06.jpg}" alt="Gallery Images">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Điện thoại</h4>
						<p class="lead">+01 123-456-4590</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">lienhechungtoi@gmail.com</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Địa chỉ</h4>
						<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
							Chí Minh</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-7">
					<h3>Về chúng tôi</h3>
					<p>Nhà hàng tiêu chuẩn 5* luôn hướng đến sự hành lòng của khách
						hàng. Sự ngon miệng và hài lòng của khách hàng là niềm tin vững
						chắc để chúng tôi tiếp tục phát triển không ngừng.</p>
				</div>
				<div class="col-lg-4 col-md-7">
					<h3>Thời gian hoạt động</h3>
					<!-- <p><span class="text-color">Thứ 2 - Thứ 6: </span>Closed</p> -->
					<p>
						<span class="text-color">Thứ 2 - Thứ 6 :</span> 9:00 - 22:00
					</p>
					<p>
						<span class="text-color">Thứ 7 - Chủ nhật :</span> 9:00 - 00:00
					</p>
				</div>
				<div class="col-lg-4 col-md-7">
					<h3>Thông tin liên hệ</h3>
					<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
						Chí Minh</p>
					<p class="lead">
						<a href="#">+01 2000 800 9999</a>
					</p>
					<p>
						<a href="#"> lienhechungtoi@admin.com</a>
					</p>
				</div>

			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">
							Coppy right. &copy; 2021 <a href="#"></a> Thiết kế : <a href="#">iuh
								design</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/js/jquery.superslides.min.js}"></script>
	<script th:src="@{/js/images-loded.min.js}"></script>
	<script th:src="@{/js/isotope.min.js}"></script>
	<script th:src="@{/js/baguetteBox.min.js}"></script>
	<script th:src="@{/js/form-validator.min.js}"></script>
	<script th:src="@{/js/contact-form-script.js}"></script>
	<script th:src="@{/js/custom.js}"></script>

	<!-- FORM LOGIN -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<div class="form-title text-center">
						<h2 style="font-weight: bold">Đăng nhập</h2>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex flex-column text-center">
						<form th:action="@{/user/dangNhap}" method="POST" action="">
							<div class="form-group">
								<input type="text" class="form-control" id="email1" name="tenDangNhap"
									placeholder="Tên đăng nhập" required="required">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password1" name="matKhau"
									placeholder="Mật khẩu" required="required">
							</div>
							<div id="notifyToast" style="display: none">
								<span style="color: red">Tên đăng nhập hoặc mật khẩu không chính xác. Vui lòng đăng nhập
									lại! </span>
							</div>
							<button type="submit" class="btn btn-add btn-block btn-round">Đăng Nhập</button>
						</form>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<div class="signup-section">
						Bạn không phải thành viên? <a href="#a" class="text-info" data-toggle="modal"
							data-target="#signUpModal" onclick="anModalDangNhap()"> Đăng ký</a>.
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FORM REGISTER -->
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<div class="form-title text-center">
						<h2 style="font-weight: bold">Đăng ký tài khoản</h2>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex flex-column text-center">
						<form action="" th:action="@{client/dangKyTaiKhoan}" method="POST" id="formRegis" name="formRegister">
							<div class="form-group">
								
								<input type="text" class="form-control" name="tenKhachHang"
									placeholder="Nhập họ tên của bạn ..." required="required"> <input type="hidden" class="form-control"
									name="maKhachHang" value="-1" placeholder="Nhập họ tên của bạn ..." >
								
							</div>
							<div class="form-group">
								
								<input type="text" class="form-control" name="sdt" id="sdt"
									placeholder="Nhập số điện thoại ..." required="required">
								<span style="color: red; display:none;" id = "errorSDT">Số điện thoại đã tồn tại. Vui lòng nhập lại! </span>
							</div>
							<div class="form-group">
								
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Nhập địa chỉ email ..." required="required">
								<span style="color: red; display:none;" id="errorDiaChi">Địa chỉ email đã tồn tại. Vui lòng nhập lại! </span>
							
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="lienhe" name="diaChi"
									placeholder="Nhập địa chỉ liên hệ ..." required="required">
							</div>
							<div class="form-group">
								
								<input type="text" class="form-control" name="tenTaiKhoan"
									placeholder="Nhập tên tài khoản ..." required="required" id="tenTaiKhoan">
								<span style="color: red; display:none;" id="errorTaiKhoan">Tên tài khoản đã tồn tại. Vui lòng nhập lại! </span>
							
							</div>
							<div class="form-group">
								
								<input type="password" class="form-control" id="pass" name="matKhau"
									placeholder="Nhập mật khẩu ..." required="required">
							</div>
							<div class="form-group">
								
								<input type="password" class="form-control" id="passrepeat"
									placeholder="Nhập lại mật khẩu ..." required="required">
								<span style="color: red; display:none;" id="errorPassReset">Mật khẩu không khớp. Vui lòng nhập lại! </span>
							</div>
							<input type="submit" class="btn btn-add btn-block btn-round btn-register" value="Đăng Ký"/>
						</form>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<div class="signup-section">
						Bạn là thành viên? <a href="#a" class="text-info" data-toggle="modal" data-target="#loginModal"
							onclick="anModalDangKy()"> Đăng nhập</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$(document).ready(function(){
		
		document.formRegister.addEventListener("submit", function(event){
			
			var sdtString = $("#sdt").val();
			var emailString = $("#email").val();
			var accountString = $("#tenTaiKhoan").val();
			
			event.preventDefault();
			
			$.ajax({
				type:"POST",
				contentType: "application/json; charset=utf-8",
				url: "http://localhost:8080/client/check/dangKyTaiKhoan",
				data: JSON.stringify({
					sdt: true,
					email: true,
					account: true,
					sdtString: sdtString,
					emailString: emailString,
					accountString: accountString,
					
				}),
				success: function(result){
					if(!result.sdt){
						document.getElementById("errorSDT").style.display = "block";
					}
					else{
						document.getElementById("errorSDT").style.display = "none";
					}
					if(!result.email){
						document.getElementById("errorDiaChi").style.display = "block";
					}
					else{
						document.getElementById("errorDiaChi").style.display = "none";
					}
					if(!result.account){
						document.getElementById("errorTaiKhoan").style.display = "block";
					}
					else{
						document.getElementById("errorTaiKhoan").style.display = "none";
					}
					var matKhau = $("#pass").val();
					var nhapLai = $("#passrepeat").val();
					
					var booleanPass = true;
					if(matKhau == nhapLai){
						document.getElementById("errorPassReset").style.display = "none";
					}else{
						document.getElementById("errorPassReset").style.display = "block";
						booleanPass = false;
					}
					
					if(result.account==true&&result.email==true&&result.sdt==true&&booleanPass==true){
						$("#formRegis").unbind("submit").submit();
					}
				}
			})
		})
		
		$(document).on("click",".btn-registr",function(event){
			event.preventDefault();
		});
	});
</script>

</html>