<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!-- Basic -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Trang chủ</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" th:href="@{/images/favicon.ico}"
	type="image/x-icon">
<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">


<!-- Bootstrap CSS -->

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- Site CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- Responsive CSS -->
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.css}">
<style type="text/css">
.alert {
	position: absolute;
	height: fit-content;
	z-index: 999;
	width: 100%;
	display: none;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
	$(document).ready(function() {


		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		})
	});

	function anModalDangNhap() {
		$('#loginModal').modal('hide');
	};
	function anModalDangKy() {
		$('#signUpModal').modal('hide');
	};
	function UserLogin() {
		window.location = '/DHKTPM13A/nam4/hocki2_2020-2021/KhoaLuan/GiaoDien/yamifood/html/user_index.html';
	};
</script>
<script th:if="${message}">


	console.log('dinhjjj');
	$(".myAlert-top").show();


</script>
</head>

<body>
	<div th:text="${message}">
		<h2>Doan kim dih ahihi</h2>
	</div>
	<div class="myAlert-top alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Thành công!</strong> Bạn đã tạo tài khoản thành công.
	</div>
	<div class="myAlert-top alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong> Indicates a successful or positive action.
	</div>
	<!-- Start header -->
	<div th:replace="header"></div>
	<!-- End header -->

	<!-- Start slides -->
	<div th:replace="slides"></div>
	<!-- End slides -->

	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img th:src="@{/images/about-img.jpg}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>
							Chào mừng Quý khách <span>Đến với nhà hàng chúng tôi</span>
						</h1>
						<h4>Kỷ niệm nhỏ</h4>
						<p>Trong một buổi chiều cuối tuần buồn bã, trong lúc bạn cảm
							thấy cô đơn và lạnh lẽo và trong đầu bạn hiện lên những món ăn
							ngon để lấp đầy cái bụng đang cồn cào. Nhưng bạn không có nguyên
							liệu để chế biến. Hãy đến với nhà hàng của chúng tôi với quan
							điểm luôn đáp ứng theo khẩu vị khách hàng bạn sẽ có được bữa ngon
							hòa vị.</p>
						<p>Hãy để chúng tôi phục vụ khách</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white"
							href="reservation.html">Đặt bàn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">" Nếu như bạn cảm thấy mệt mỏi và muốn giải
						tỏa bằng những món ăn ngon. Hãy để chúng tôi phục vụ bạn "</p>
					<span class="lead">Briant Tran</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->

	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Món ăn</h2>
						<p>Nhà hàng chúng tôi rất hân hạnh phục vụ quý khách</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="special-menu text-center">
						<div class="button-group filter-button-group">
							<button class="active" data-filter="*">Tất cả</button>
							<button data-filter=".drinks"
								th:each="loaiMonAn: ${listLoaiMonAn}"
								th:text="${loaiMonAn.tenLoai}"></button>
							<!-- <button data-filter=".lunch">Món ăn nhẹ</button>
							<button data-filter=".dinner">Món ăn chính</button> -->
						</div>
					</div>
				</div>
			</div>

			<div class="row special-list">
				<div class="col-lg-4 col-md-6 special-grid drinks"
					th:each="monAn: ${listMonAn}">
					<div class="gallery-single fix">
						<img th:src="@{${monAn.hinhAnh}}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4></h4>
							<p th:text="${monAn.tenMonAn}"></p>
							<h5 th:text="${monAn.DonGia}+' VNĐ'"></h5>
						</div>
					</div>
				</div>

				<!-- <div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-02.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-03.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid lunch">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-04.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid lunch">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-05.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid lunch">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-06.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid dinner">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-07.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid dinner">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-08.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid dinner">
					<div class="gallery-single fix">
						<img th:src="@{/images/img-09.jpg}" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>Combo 1</h4>
							<p>Món ngon hòa vị</p>
							<h5> 150.000 vnd</h5>
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>
	<!-- End Menu -->

	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Hình Ảnh</h2>
						<p>Hình ảnh về chúng tôi</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-01.jpg}"> <img
							class="img-fluid" th:src="@{/images/gallery-img-01.jpg}"
							alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-02.jpg}"> <img
							class="img-fluid" th:src="@{/images/gallery-img-02.jpg}"
							alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-03.jpg}"> <img
							class="img-fluid" th:src="@{/images/gallery-img-03.jpg}"
							alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-04.jpg}"> <img
							class="img-fluid" th:src="@{/images/gallery-img-04.jpg}"
							alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-05.jpg}"> <img
							class="img-fluid" th:src="@{/images/gallery-img-05.jpg}"
							alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" th:href="@{/images/gallery-img-06.jpg}"> <img
							class="img-fluid" th:src="@{/images/gallery-img-06.jpg}"
							alt="Gallery Images">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Điện thoại</h4>
						<p class="lead">+01 123-456-4590</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">lienhechungtoi@gmail.com</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Địa chỉ</h4>
						<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
							Chí Minh</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-7">
					<h3>Về chúng tôi</h3>
					<p>Nhà hàng tiêu chuẩn 5* luôn hướng đến sự hành lòng của khách
						hàng. Sự ngon miệng và hài lòng của khách hàng là niềm tin vững
						chắc để chúng tôi tiếp tục phát triển không ngừng.</p>
				</div>
				<div class="col-lg-4 col-md-7">
					<h3>Thời gian hoạt động</h3>
					<!-- <p><span class="text-color">Thứ 2 - Thứ 6: </span>Closed</p> -->
					<p>
						<span class="text-color">Thứ 2 - Thứ 6 :</span> 9:00 - 22:00
					</p>
					<p>
						<span class="text-color">Thứ 7 - Chủ nhật :</span> 9:00 - 00:00
					</p>
					<!-- <p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p> -->
				</div>
				<div class="col-lg-4 col-md-7">
					<h3>Thông tin liên hệ</h3>
					<p class="lead">12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Hồ
						Chí Minh</p>
					<p class="lead">
						<a href="#">+01 2000 800 9999</a>
					</p>
					<p>
						<a href="#"> lienhechungtoi@admin.com</a>
					</p>
				</div>

			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">
							Coppy right. &copy; 2021 <a href="#"></a> Thiết kế : <a
								href="https://html.design/">iuh design</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/js/jquery.superslides.min.js}"></script>
	<script th:src="@{/js/images-loded.min.js}"></script>
	<script th:src="@{/js/isotope.min.js}"></script>
	<script th:src="@{/js/baguetteBox.min.js}"></script>
	<script th:src="@{/js/form-validator.min.js}"></script>
<script th:src="@{/js/contact-form-script.js}"></script>
	<script th:src="@{/js/custom.js}"></script>

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-title text-center">
						<h2>Đăng nhập</h2>
					</div>
					<div class="d-flex flex-column text-center">
						<form th:action="@{client/dangNhap}" method="POST" action="">
							<div class="form-group">
								<input type="text" class="form-control" id="email1" name="tenDangNhap"
									placeholder="Địa chỉ mail của bạn ...">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password1" name="matKhau"
									placeholder="Mật khẩu ...">
							</div>
							<button type="submit" class="btn btn-info btn-block btn-round"
								>Đăng Nhập</button>
						</form>

						<div class="text-center text-muted delimiter">or ...</div>

					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<div class="signup-section">
						Bạn không phải thành viên? <a href="#a" class="text-info"
							data-toggle="modal" data-target="#signUpModal"
							onclick="anModalDangNhap()"> Đăng ký</a>.
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-title text-center">
						<h2>ĐĂNG KÝ TÀI KHOẢN</h2>
					</div>
					<div class="d-flex flex-column text-center">
						<form action="" th:action="@{client/dangKyTaiKhoan}" method="POST">
							<div class="form-group">
								<input type="text" class="form-control" name="tenKhachHang"
									placeholder="Nhập họ tên của bạn ..."> <input
									type="hidden" class="form-control" name="maKhachHang"
									value="-1" placeholder="Nhập họ tên của bạn ...">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="sdt" id="sdt"
									placeholder="Nhập số điện thoại ...">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Nhập địa chỉ email ...">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="lienhe"
									name="diaChi" placeholder="Nhập thông tin liên hệ ...">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="tenTaiKhoan"
									placeholder="Nhập tên tài khoản ...">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password1"
									name="matKhau" placeholder="Nhập mật khẩu ...">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password2"
									placeholder="Nhập lại mật khẩu ...">
							</div>
							<button type="submit" class="btn btn-info btn-block btn-round">Đăng
								Ký</button>
						</form>

						<div class="text-center text-muted delimiter">or ...</div>

					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<div class="signup-section">
						Bạn là thành viên? <a href="#a" class="text-info"
							data-toggle="modal" data-target="#loginModal"
							onclick="anModalDangKy()"> Đăng nhập</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>